{% extends 'doctor/base_layout.html' %}

{% block content %}
    {% load static %}
    <div class="row no-gutters" style="direction: rtl; text-align: right">
        <div class="col-4" style="margin: auto; padding: 1em">
            <div class="card bg-transparent" style="padding: 1em">
            <div class="row no-gutters">
               <div class="col-4">
                   {% if doctor.gender == 'مرد' %}
                        <img class="card-img-top" src={% static "patient/male.png" %}>
                   {% else %}
                       <img class="card-img-top" src={% static "patient/male.png" %}>
                   {% endif %}
               </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">پروفایل شما</h5>
                            <ul class="list-group list-group-flush" style="padding-inline-start: 0;">
                                <li class="list-group-item">
                                    نام و نام‌خانوادگی:
                                    {{ doctor.first_name }} {{ doctor.last_name }}</li>
                                <li class="list-group-item">
                                  شماره پزشکی:
                                  {{ doctor.doctor_id }}</li>
                                <li class="list-group-item">
                                  تاریخ تولد:
                                  {{ doctor.date_of_birth }}</li>
                                <li class="list-group-item">
                                  مدرک پزشکی:
                                  {{ doctor.degreeLevel }}
                                    {% if doctor.degreeLevel != 'عمومی' %}
                                        {{ doctor.profession.profession }}
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8" style="margin: auto">
            <div class="row no-gutters" style="padding: 1em">
                <div class="container border rounded col-12" style="padding: 1em">
                    <h4 style="margin-top: 1em">زمان ملاقات فعلی</h4>
                    <hr>
                    <div class="alert alert-info" role="alert">
                        {% if current_reservation %}
                            {% if current_reservation_today %}
                                <p>زمان ملاقات فعلی شما هم اکنون با {{ current_reservation.patient.first_name }} {{ current_reservation.patient.last_name }} تا ساعت {{ current_reservation.end_time.hour }}:{{ current_reservation.end_time.minute }} می‌باشد. </p>
                            {% else %}
                                <p> زمان ملاقات فعلی شما تاریخ {{ current_reservation.reservation_date.day  }}-{{ current_reservation.reservation_date.month }}-{{ current_reservation.reservation_date.year }} ساعت {{ current_reservation.start_time.hour }}:{{ current_reservation.start_time.minute }} تا {{ current_reservation.end_time.hour }}:{{ current_reservation.end_time.minute }} با بیمار {{ current_reservation.patient.first_name }} {{ current_reservation.patient.last_name }} می‌باشد.</p>
                            {% endif %}
                            <hr>
                            <div style="text-align: left">
                                <a href="{% url 'doctor:prescriptions' patient_id=current_reservation.patient.pk %}" style="color: green">مشاهده بیمار</a>
                            </div>

                        {% else %}
                            <p>شما در حال حاضر زمان ملاقاتی ندارید.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row no-gutters" style="padding: 1em">
                <div class="container border rounded col-12" style="padding: 1em">
                    <h4 style="margin-top: 8px">زمان ملاقات بعدی</h4>
                    <hr>
                    <div class="alert alert-info" role="alert">
                        {% if next_reservation %}
                            {% if next_reservation_today %}
                                <p> زمان ملاقات بعدی شما امروز ساعت {{ next_reservation.start_time.hour }}:{{ next_reservation.start_time.minute }} تا {{ next_reservation.end_time.hour }}:{{ next_reservation.end_time.minute }} با بیمار {{ next_reservation.patient.first_name }} {{ next_reservation.patient.last_name }} می‌باشد.</p>
                            {% else %}
                                <p> زمان ملاقات بعدی شما تاریخ {{ next_reservation.reservation_date.day  }}-{{ next_reservation.reservation_date.month }}-{{ next_reservation.reservation_date.year }} ساعت {{ next_reservation.start_time.hour }}:{{ next_reservation.start_time.minute }} تا {{ next_reservation.end_time.hour }}:{{ next_reservation.end_time.minute }} با بیمار {{ next_reservation.patient.first_name }} {{ next_reservation.patient.last_name }} می‌باشد.</p>
                            {% endif %}
                        {% else %}
                            <p>شما زمان ملاقاتی پیش رو ندارید.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}