{% extends 'doctor/base_layout.html' %}

{% block content %}

    <div class="jumbotron" style="text-align: right; direction: rtl">
        <h1 class="display-4">تاریخچه رزرو</h1>
    </div>

    <table class="table table-striped" style="text-align: right">
<thead>
  <tr>
    <th scope="col">زمان پایان</th>
    <th scope="col">زمان شروع</th>
    <th scope="col">تاریخ</th>
    <th scope="col">بیمار</th>
  </tr>
</thead>
  <tbody>
    {% for reservation in reservation_list %}
      <tr>
        <td>{{reservation.end_time.hour}}:{{reservation.end_time.minute}}</td>
        <td>{{reservation.start_time.hour}}:{{reservation.start_time.minute}}</td>
        <td>{{reservation.reservation_date.year}}-{{reservation.reservation_date.month}}-{{reservation.reservation_date.day}}</td>
        <td>{{reservation.patient.first_name}} {{reservation.patient.last_name}}</td>
      </tr>
    {% endfor %}
  </tbody>

{% endblock %}
