{% extends 'patient/base_layout.html' %}

{% block content %}

    <div class = "profile" style=" padding: 20px; width: 50%; float: right;">
        <ul class = "list-group">
            <li class = "list-group-item active" style="text-align: right">پروفایل شما</li>
            <li class = "list-group-item" style="text-align: right"> نام: {{ patient.first_name }}</li>
            <li class = "list-group-item" style="text-align: right"> نام خانوادگی: {{ patient.last_name }}</li>
            <li class = "list-group-item" style="text-align: right"> {{ patient.email }} :آدرس ایمیل </li>
            <li class = "list-group-item" style="text-align: right">شماره تلفن: {{ patient.phone_number }}</li>
            <li class = "list-group-item" style="text-align: right">شماره موبایل: {{ patient.mobile_number }} </li>
        </ul>
    </div>

{% endblock %}