{% extends 'patient/base_layout.html' %}

{% block content %}
    {% load static %}
    <div class="container-fluid" style="text-align: right; direction: rtl">
        <div class="row no-gutters" style="margin: auto; padding: 1em">
            <div class="card bg-transparent col-12" style="text-align: right; padding: 1em">
                <div class="row no-gutters">
                   <div class="col-sm-2">
                      <img class="card-img-top" src={% static "patient/avatar.png" %}>
                   </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">پروفایل شما</h5>
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list-group list-group-flush" style="padding-inline-start: 0;">
                                        <li class="list-group-item">
                                            نام و نام‌خانوادگی:
                                            {{ patient.first_name }} {{ patient.last_name }}</li>
                                        <li class="list-group-item">
                                          کد ملی:
                                          {{ patient.national_id }}</li>
                                        <li class="list-group-item">
                                          تاریخ تولد:
                                          {{ patient.date_of_birth }}</li>
                                        <li class="list-group-item">
                                          شماره موبایل:
                                          {{ patient.mobile_number }}</li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-group list-group-flush" style="padding-inline-start: 0;">
                                        <li class="list-group-item">
                                          آدرس ایمیل:
                                          {{ patient.email }}
                                        </li>
                                        <li class="list-group-item">
                                          شماره تلفن:
                                          {{ patient.phone_number }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2" style="display: flex">
                            {#<img class="card-img-top" src="{% static "patient/credit.png" %}">#}
                        <div class="container" style="margin: auto">
                            <h5 class="card-title">اعتبار:
                            {{ patient.credit }}
                            </h5>
                            <p class="card-text">برای افزایش اعتبار روی دکمه زیر کلیک کنید</p>
                            <a href="{% url 'patient:add_credit' %}" class="btn btn-outline-primary">افزایش اعتبار</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if deleted_reservations %}
        <div class="row no-gutters" style="padding: 1em">
            <div class="container-fluid bg-light border rounded">
                <h4 style="padding: 0.5em">پیام‌ها</h4>
                <hr>
                {% for reservation in deleted_reservations %}
                    <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">کنسل شدن وقت پزشک</h4>
                    <p> زمان رزرو شده توسط شما در تاریخ {{reservation.date.year}}-{{reservation.date.month}}-{{reservation.date.day}}  توسط پزشک {{ reservation.doctor.first_name }} {{ reservation.doctor.last_name }} حذف شد</p>
                    <hr>
                    <div style="text-align: left">
                        <a href="{% url 'patient:delete_notification'  notification_id=reservation.pk%}" style="color: red">متوجه شدم!</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row no-gutters" style="padding: 1em">
            <div class="container-fluid bg-light border rounded" >
                {% if next_reservation %}
                    <h4 style="padding: 0.5em">زمان رزرو بعدی</h4>
                {% elif current_reservation %}
                    <h4 style="padding: 0.5em">زمان رزرو فعلی</h4>
                {% else %}
                    <h4 style="padding: 0.5em">زمان رزرو بعدی</h4>
                {% endif %}
                <hr>
                    <div class="alert alert-info" role="alert">
                    {% if next_reservation %}
                        <p>زمان رزرو بعدی شما تاریخ {{next_reservation.reservation_date.year}}-{{next_reservation.reservation_date.month}}-{{next_reservation.reservation_date.day}} از ساعت {{ next_reservation.start_time.hour  }}:{{ next_reservation.start_time.minute }} تا ساعت {{ next_reservation.end_time.hour }}:{{ next_reservation.end_time.minute }} توسط پزشک {{ next_reservation.doctor.first_name }} {{ next_reservation.doctor.last_name }} می‌باشد.</p>
                    {% elif current_reservation %}
                        <p>شما در حال حاضر با پزشک {{ current_reservation.doctor.first_name }} {{ current_reservation.doctor.last_name }} زمان ملاقات دارید.</p>
                    {% else %}
                        <p> شما زمان رزرو فعالی ندارید</p>
                    {% endif %}
                    <hr>
                </div>
            </div>
        </div>
    </div>




{% endblock %}